[submodule "testssl.sh"]
	path = testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "TLS-Attacker"]
	path = TLS-Attacker
	url = https://github.com/RUB-NDS/TLS-Attacker.git
[submodule "Subdomain-Detect"]
	path = Subdomain-Detect
	url = https://github.com/Tomahawkd/Subdomain-Detect.git
