[submodule "testssl.sh"]
	path = testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "TLS-Attacker"]
	path = TLS-Attacker
	url = https://github.com/RUB-NDS/TLS-Attacker.git
[submodule "Censysjava"]
	path = Censysjava
	url = https://github.com/Tomahawkd/Censysjava
[submodule "TLS-Tester-api"]
	path = TLS-Tester-api
	url = https://github.com/Tomahawkd/TLS-Tester-api
